* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.tam {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fix {
  width: 10rem;
  height: 10rem;
  position: fixed;
}

.btn:active {
  background-color: #3e8e41;
}

.btnactive {
  background-color: #3e8e41 !important;
}

.btn {
  background-color: #cccccc;
  border-radius: 1.5rem;
}

/*-----------*/
#main {
  border: 2px solid red;
  background-color: aqua;
}

#log {
  font-size: 1em;
  outline: none;
  border: none;
  background-color: #614d4d42;
  width: 20%;
  height: 30%;
}

#vo-lang {
  position: fixed;
  left: 2.5%;
  top: 24%;
  background-color: #d8080821;

  width: 35%;
  height: 70%;
  border-radius: 50%;
}

textarea {
  z-index: -1;
}

#chan-ga {
  touch-action: manipulation;
  position: fixed;
  left: 81%;
  top: 25%;
  height: 60%;
  width: 9%;
  border: 0.2rem solid rgb(255, 5, 5);
  border-radius: 1.5rem;
  background: #cccccc;
  transform: rotateZ(180deg);
}

#chan-ga2 {
  position: absolute;
  left: 25%;
  top: 0;
  height: 0%;
  width: 50%;
  border: 0.2rem solid rgb(0, 0, 0);
  border-radius: 1.5rem;
  background: #b81b1b;
}

.kc {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.s {
  position: fixed;
  width: 20rem;
  height: 4rem;
  font-size: 2rem;

  display: flex;
  align-items: center;
}

.bgi {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 80%;
}